<%- include('../partials/nav') %>

    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="POST">
        Username:
        <input type="text" name="username" />
        Password:
        <input type="password" name="password" />
        <button type="submit">Sign In</button>
    </form>
</body>
</html>